@import "../../../boton.css";
@import "../../../tabla.css";

.col-acciones {
  width: 60px;
  white-space: nowrap;
}

/* contenedor con scroll */
.table-scroll {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
}
